<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jogo da Forca</title>
</head>
<body>
    <h1>
        Bem vindo ao Jogo da Forca!
    </h1> 
    <form action="/comecar" method="post">
        <label>
            Digite seu nome:
        </label>
      
        <input type="text" name="jogador">
        </input>

        <button type="submit">
            Começar
        </button>

    </form>
</body>
</html>